<!DOCTYPE html>
<html>
<head>
	<title>Mark Attendance</title>
</head>
<body onload="init()">
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"> 
	</script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<script type="text/javascript">
		var all_sections = [];
		var select_s = document.createElement("SELECT");
		select_s.setAttribute("id","sectSelect");
		var token;
		
		function delete_cookie(){
			document.cookie = "token=; domain=; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/;";
			window.location.assign("{% url 'login' %}");
		}


		function init(){
			if (document.cookie.indexOf('token') == -1 ) {
			  	// Re-direct to this page
				window.location.assign("{% url 'login' %}");
			}

			var x = document.cookie.split(";");

			token = x[1].split("=")[1];

			// console.log(token);

			$.ajax({
			    url: "http://127.0.0.1:8001/teacher_api/main_sections/",
			    method: "GET",
			    beforeSend: function (xhr) {
			        xhr.setRequestHeader('Authorization', 'Bearer ' + token)
			    },
			    success: function(data){
			    	var select_ms = document.createElement("SELECT");
					select_ms.setAttribute("id", "mainSelect");
					// select_ms.setAttribute("onchange", "")
					select_ms.options.clear;
					document.querySelector("#main_sections_select_div").appendChild(select_ms);
					var main_sections = data;
					for (i in main_sections){
						var option = document.createElement("option");
						option.text = main_sections[i]["name"];
						option.value = main_sections[i]["id"];
						select_ms.add(option);

						document.querySelector("#fetch_section_btn").style.display = "inline-block";
					}
			    },
			    error: function(data) {
			    }
			})
		}

		function get_sections(){
			var x = document.cookie.split(";");

			var token = x[1].split("=")[1];

			var main_section_id = document.getElementById("mainSelect").value;

			$.ajax({
			    url: "http://127.0.0.1:8001/teacher_api/sections/" + main_section_id + "/",
			    method: "GET",
			    beforeSend: function (xhr) {
			        xhr.setRequestHeader('Authorization', 'Bearer ' + token)
			    },
			    success: function(data){
    				
					var x = document.getElementById("sectSelect");
					if(x != null){
						x.innerHTML = ""
						x.remove();
					}

					document.querySelector("#sections_select_div").append(select_s);

					sections = data;
					// clear existing data in all_sections
					all_sections = [];
					for (i in sections){
						var option = document.createElement("option");
						option.text = sections[i]["name"];
						option.value = sections[i]["id"];
						select_s.add(option);

						all_sections.push(sections[i]["id"]);
					}

					// console.log(all_sections);

					var option = document.createElement("option");
					option.text = "Select All";
					option.value = 111;
					select_s.add(option);

					document.querySelector("#sections_div").style.display = "block";
					document.querySelector("#rooms_div").style.display = "block";
			    },
			    error: function(data) {
			    	console.log(data);
			    }
			})
		}

		function display_get_timetable() {
			document.querySelector("#get_timetable_button").style.display = "inline-block";
		}		

		function display_tt(){
			var section_id = document.getElementById("sectSelect").value;

			if(section_id == 111){

				let section_list = all_sections;
				let data = {"section_list": section_list};

				// console.log(data);
				let data_str = JSON.stringify(data);
				// console.log(data_str);


				$.ajax({
				    url: "http://127.0.0.1:8001/teacher_api/timetable_list/",
				    method: "POST",
				    data: data_str,
				    dataType: "json",
				    contentType: "application/json",
				    beforeSend: function (xhr) {
				        xhr.setRequestHeader('Authorization', 'Bearer ' + token)
				    },
				    success: function(data){
						// console.log(data)
						var no_timetable_yet = true;
						document.querySelector("#timetable_div").innerHTML = "";
						for(x in data){
							var section_id = x;
							var section_data = data[x];

							// console.log(section_id);

							// console.log(section_data);
							for(s in section_data){
								// console.log(s);
								var timetable_list = section_data[s];

								var select = document.createElement("SELECT");
								if(timetable_list.length){
									for(t in timetable_list){
										var id = String(timetable_list[t]["id"]);
										var title = String(timetable_list[t]["title"]);
										var time = String(timetable_list[t]["time"]);
										var section = String(timetable_list[t]["section"]);

										var heading = document.createElement("h4");
										var option = document.createElement("option");

										heading.innerHTML = section;
										// console.log(heading);

										option.text = title + " " + time;
										option.value = id;
										select.add(option);
									}
									document.querySelector("#timetable_div").append(heading);
									document.querySelector("#timetable_div").append(select);
									no_timetable_yet = false;
								}
								else{
								}
							}

							console.log(no_timetable_yet);
						}

						if(no_timetable_yet){
							var p = document.createElement("p");
							p.innerHTML = "No timetable for given section!";
							p.style.color = "red";
							document.querySelector("#timetable_div").append(p);

						}
					}
				})
			}

			else{
				let section_list = [];
				section_list.push(parseInt(section_id))
				let data = {"section_list": section_list};

				// console.log(data);
				let data_str = JSON.stringify(data);
				// console.log(data_str);

				$.ajax({
				    url: "http://127.0.0.1:8001/teacher_api/timetable_list/",
				    method: "POST",
				    data: data_str,
				    dataType: "json",
				    contentType: "application/json",
				    beforeSend: function (xhr) {
				        xhr.setRequestHeader('Authorization', 'Bearer ' + token)
				    },
				    success: function(data){
						// console.log(data)
						document.querySelector("#timetable_div").innerHTML = "";
						for(x in data){
							var section_id = x;
							var section_data = data[x];
							// console.log(section_id);

							// console.log(section_data);
							for(s in section_data){
								// console.log(s);
								var timetable_list = section_data[s];

								var select = document.createElement("SELECT");
								if(timetable_list.length){
									for(t in timetable_list){
										var id = String(timetable_list[t]["id"]);
										var title = String(timetable_list[t]["title"]);
										var time = String(timetable_list[t]["time"]);
										var section = String(timetable_list[t]["section"]);

										var heading = document.createElement("h4");
										var option = document.createElement("option");

										heading.innerHTML = section;
										// console.log(heading);

										option.text = title + " " + time;
										option.value = id;
										select.add(option);
									}
									document.querySelector("#timetable_div").append(heading);
									document.querySelector("#timetable_div").append(select);
								}
								else{
									var p = document.createElement("p");
									p.innerHTML = "No timetable for given section!";
									p.style.color = "red";
									document.querySelector("#timetable_div").append(p);

								}
							}
						}
					}
				})
			}

			document.querySelector("#mark_attendance").style.display = "inline-block";
		}

		function mark_attendance(){
			// console.log("mark_attendance");
			var td = document.querySelector("#timetable_div");

			var select_element_list = td.getElementsByTagName('select');
			// console.log(select_element_list);
			// console.log(select_element_list.length);

			var tp = []

			for(let e of select_element_list){
				// console.log(e.value);
				tp.push(parseInt(e.value));
			}

			let data = {
				"timetable_period": tp,
			}

			console.log(data);
			console.log(JSON.stringify(data));


			$.ajax({
			    url: "http://127.0.0.1:8000/mark_attendance/",
			    method: "POST",
			    beforeSend: function (xhr) {
			        xhr.setRequestHeader('Authorization', 'Bearer ' + token)
			    },
			    contentType: "application/json",
			    data: JSON.stringify(data),
			    success: function(data){
			    	console.log(data);
			    	document.querySelector("#attendance_result").innerHTML = data["success"];
			    },
			    error: function(data) {
			    	console.log(data);
			    }
			})
		}
	</script>

	<style type="text/css">
		body{
			background-color: black!important;
			color: white!important;
		}
		select{

			background-color: black!important;
			color: white!important;	
		}
		a:hover{
			cursor: pointer;
		}
		.navbar-custom{
			background-color: #202020;
		}
		.jumbotron{
			background-color: #e6dbc9!important;
			color: black!important;
		}
	    body{
	    	font-family: 'Nunito', sans-serif;
	    }
	    .btn-custom{
	    	color: black!important;
	    	background-color: #2f9dbf!important;
	    }
	    #sections_div{
	    	display: none;
	    }
	    #rooms_div{
	    	display: none;
	    }
	    #get_timetable_button{
	    	display: none;
	    }
	</style>

	<nav class="navbar navbar-custom">
		<div class="container">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Attendance Manager: Teachers Portal</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
				<li><a onclick="delete_cookie()">Logout</a></li>
		    </ul>
		</div>
	</nav>

	<div class="container">
		<div id="main_sections_div">
			<h4 style="display: inline;">Select Main Section: </h4>
			<div style="display: inline;" id="main_sections_select_div"></div>
			<span id="fetch_section_btn" style="display: none;" class="btn btn-custom btn-sm" onclick="get_sections()">Fetch Sections</span>
		</div>

		<br>

		<div id="sections_div">
			<h4 style="display: inline;">Select Section: </h4>
			<div style="display: inline;" id="sections_select_div"></div>
		</div>

		<br>

		<div id="rooms_div">
			<h4 style="display: inline;">Enter Room Number: </h4>
			<select onchange="display_get_timetable()">
				<option selected>--</option>
				<option>L1</option>
				<option>L2</option>
				<option>L3</option>
				<option>L4</option>
				<option>L5</option>
				<option>L6</option>
			</select>
			<span id="get_timetable_button" class="btn btn-custom btn-sm" type="button" onclick="display_tt()">Get Time Table</span>
		</div>

		<div id="timetable_div" style="margin-bottom: 20px;"></div>
		<span id="mark_attendance" style="display: none;" class="btn btn-custom btn-sm" type="button" onclick="mark_attendance()">Mark Attendance</span>

		<h4 id="attendance_result" style="margin-bottom: 20px; color: green"></h4>
	</div>
</body>
</html>